@use "./base.scss";

body {
    // font-family: 'Roboto', sans-serif;
    font-family: base.$font-stack-2;
    background-color: black;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}