@use "../../base.scss";

.type-box {
    width : 800px;
    height : 300px;
    background-color : black;
    border : 1px solid black;
    outline : none;
}

.char {
    font-family : base.$font-stack;
    font-size : 20px;
    color: grey;
}

.char-correct {
    font-family : base.$font-stack;
    font-size : 20px;
    color : white;
}

.char-incorrect {
    font-family : base.$font-stack;
    font-size : 20px;
    color : red;
}

.char-junk {
    font-family : base.$font-stack;
    font-size : 20px;
    color : darkred;
}


.char-incorrect-space {
    font-family : base.$font-stack;
    font-size : 20px;
    background-color : red;
}

