@use "../../base.scss";

$font-size : 28px;

.type-box-container {
    display : flex;
    align-items : center;
    justify-content : center;
    background-color : black;
    border : 1px solid grey;
}

.type-box {
    width : 80%;
    position : absolute;
    height : fit-content;
    background-color : black;
    //border : 1px solid black;
    outline : none;
    display : flex;
    flex-wrap: wrap;
    flex-grow : 0;
    overflow-y : scroll;
    align-items : flex-start;

    justify-content : flex-start;

    
    //border : 1px white solid;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

input {
    position : absolute;
    top : 0;
    left : 0;
    width : 0;
    height : 0;
    opacity: 0;
}

.space {
    font-size : $font-size;
    font-family : base.$font-stack;
    font-size : $font-size;
    opacity : 1;
    color: grey;
    transition: all 0.2s ease;
}

.word {
    padding-bottom : 8px;
    padding : 0px;
    height : fit-content;
}

.char {
    font-family : base.$font-stack;
    font-size : $font-size;
    opacity : 1;
    color: grey;
    transition: all 0.2s ease;
}

.char-correct {
    font-family : base.$font-stack;
    font-size : $font-size;
    opacity : 1;
    color : white;
    transition: all 0.2s ease;
}

.char-incorrect {
    font-family : base.$font-stack;
    font-size : $font-size;
    color : red;
    transition: all 0.2s ease;
}

.char-junk {
    font-family : base.$font-stack;
    font-size : $font-size;
    color : darkred;
    transition: all 0.2s ease;
}

.caret {
    position : absolute;
    top : 0;
    left : 0;
    
    color : white;
    background-color : white;
    mix-blend-mode : difference;
    display : inline-block;
    width : 2px;
    height : 34px;
    animation : blink 1s infinite;
    transition : all 0.1s ease;
}

