.point-display {
    // width : 100%;
    display : flex;
    transition : 0.3s;
   
}

.points {
    font-size : 1.5rem;
    color : white;
    opacity : 1;
    transition : 0.3s;
    text-align: center;
    margin: 8px;
    //border : 1px solid white;
}